/*
    DEMO STYLE
*/

body {
    color: #636B91;
}

.logo-style {
    padding: 30px 0;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #ffffff;
    box-shadow: 2px 2px 10px 3px gray;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}


/*MY SIDEBAR*/

.sidebar-nav {
padding: 0;
list-style: none;
}

.sidebar-nav li {
text-indent: 70px;
line-height: 40px;
}

.sidebar-nav li a {
display: block;
text-decoration: none;
color: darkgrey;
}

.sidebar-nav li.active a {
color: #627CF6;
}

.sidebar-nav li a:hover {
color: #627CF6;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    /*padding: 0 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background: #F8F9FE;
}

#content.active {
    width: 100%;
}

.content-wrapper {
    padding: 0 20px;
}


.menu-heading {
    padding: 20px 0px 20px 30px;
}

.menu-heading h1 {
    font-size: 25px;
}

.filter-div {
    background-color: white;
    /*border: 1px solid gray;*/
    /*border-radius: 20px;*/
    padding: 20px ;
    box-shadow: 3px 3px 10px 4px lightgray;
}

.admin-link a {
    text-decoration: none;
    color: #B3B3B3;
    font-size: 15px;
    font-weight: 400;
}

.admin-link a:hover {
    color: gray;
}

.title-small {
    font-size: 12px;
    font-weight: bold;
}

.dashboard-figure {
    color: #627CF6;
    font-size: 25px;
}

.dashboard-figure-purple {
    color: #FF00FF;
    font-size: 25px;
}

.dashboard-figure-small {
    color: midnightblue;
    font-size: 17px;
    font-weight: bold;
}

.trans-figure-small {
    color: black;
    font-size: 20px;
}

.ngn {
    color: gray;
    font-size: 12px;
    font-weight: bold;
    margin-top: -100px;
}

.ngn-small {
    color: gray;
    font-size: 10px;
    font-weight: bold;
    margin-top: -100px;
}

.box-card {
    background: #ffffff;
    box-shadow: 2px 2px 10px 3px gray;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.3s all ease-in-out;
}

.box-card:hover {
    box-shadow: 3px 3px 10px 4px gray;
}

.box-card-alt {
    background: #ffffff;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.3s all ease-in-out;
}

.box-card-alt:hover {
    box-shadow: 3px 3px 10px 4px lightgray;
}

.box-card-radio {
    background: #ffffff;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.box-card-radio:hover {
    box-shadow: 3px 3px 10px 4px lightgray;
}


.dashboard-link {
    margin-top: 45px;
}

.dashboard-link a {
    text-decoration: none;
    color: lightgray;
    font-size: 14px;
}

.dashboard-link a:hover {
    color: gray;
}

.dashboard-link span {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

/*.dashboard-link span:hover {*/
    /*color: gray;*/
/*}*/

.ngn-table {
    color: gray;
}

.price-table {
    color: #627CF6;
    font-weight: bold;
}

.orange {
    color: orange;
}

.green {
    color: #39B54A;
}

.gray {
    color: gray;
}

.red {
    color: red;
}

table {
    border-collapse:separate;
    border-spacing:0 10px;
}

.fancy-table {
    background: #ffffff;
    box-shadow: 2px 2px 10px 3px gray;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.3s all ease-in-out;
}

.fancy-table:hover {
    box-shadow: 3px 3px 10px 4px gray;
}

.fancy-table-alt {
    background: #ffffff;
    /*box-shadow: 2px 2px 10px 3px gray;*/
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.3s all ease-in-out;
}

.fancy-table-alt:hover {
    box-shadow: 2px 2px 10px 3px gray;
}

.fancy-table-deactivated {
    background: #E6E6E6;
    /*box-shadow: 2px 2px 10px 3px gray;*/
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.3s all ease-in-out;
}

.fancy-table-deactivated:hover {
    box-shadow: 3px 3px 10px 4px gray;
}

.profile-box {
    background: #ffffff;
    /*box-shadow: 2px 2px 10px 3px gray;*/
    box-shadow: 2px 2px 10px 3px lightgray;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.3s all ease-in-out;
}

.profile-box-flat {
    background: #ffffff;
    /*box-shadow: 2px 2px 10px 3px gray;*/
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.3s all ease-in-out;
}

.blue-button {
    background: #627CF6;
    color: #ffffff;
    padding: 3px 15px;
    border-radius: 7px;
}

.blue-button:hover {
    box-shadow: 2px 2px 10px 3px gray;
    color: #ffffff;
}

.green-button {
    background: #22B573;
    color: #ffffff;
    padding: 3px 15px;
    border-radius: 7px;
}

.green-button:hover {
    color: #ffffff;
    box-shadow: 2px 2px 10px 3px gray
}

.red-button {
    background: #FF0000;
    color: #ffffff;
    padding: 3px 15px;
    border-radius: 7px;
}

.red-button:hover {
    color: #ffffff;
    box-shadow: 2px 2px 10px 3px gray
}

.disburse {
    background: orange;
    font-size: 10px;
    padding: 10px 10px;
    color: white;
    border-radius: 10px;
}

.repay {
    background: #22B573;
    font-size: 10px;
    padding: 10px 10px;
    color: white;
    border-radius: 10px;
}

.overdue {
    background: red;
    font-size: 10px;
    padding: 10px 10px;
    color: white;
    border-radius: 10px;
}

.transaction {
    background: orange;
    font-size: 10px;
    padding: 10px 10px;
    color: white;
    border-radius: 10px;
}

.gray-button {
    background: #B3B3B3;
    color: #ffffff;
    padding: 3px 15px;
    border-radius: 7px;
}

.gray-button:hover {
    box-shadow: 2px 2px 10px 3px gray
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


/*BALANCE SHEET*/
.flex-container {
    margin: 3% 0;
    width: 100%;
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    /*align-self: stretch;*/
}

/*.balance-sheet {*/
    /*min-width: 650px;*/
/*}*/

/*.income-statement {*/
    /*min-width: 450px;*/
/*}*/

.balance-sheet, .income-statement {
    min-height: 300px;
    margin: 0 auto;
    background-color: #fefefe;
    border: 1px solid #e0e0e0;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    /*flex: flex-grow 0 0 50%;*/
}
.balance-sheet table, .income-statement table {
    width: 100%;
    padding: 10px;
}
.balance-sheet table td, .income-statement table td {
    padding: 5px;
}
.balance-sheet table td.positive, .income-statement table td.positive {
    color: #a5d3a2 !important;
}
.balance-sheet table td.negative, .income-statement table td.negative {
    color: #f28973 !important;
}
.balance-sheet table tr td:nth-child(even), .income-statement table tr td:nth-child(even) {
    color: #afb0b5;
    text-align: right;
}
.balance-sheet .header th, .income-statement .header th {
    padding: 20px;
    color: #586078;
    font-size: 140%;
    text-transform: uppercase;
}
.balance-sheet .sub-header th, .income-statement .sub-header th {
    padding: 15px 5px;
    text-align: left;
    border-top: 1px solid #CCC;
    text-transform: uppercase;
}
.balance-sheet .sub-total td, .income-statement .sub-total td {
    padding: 20px 5px;
    font-weight: bold;
    border-top: 1px solid #CCC;
}

/*.tool:hover {*/
    /*background-color: #ffe07d;*/
    /*cursor: pointer;*/
/*}*/

.tooltip {
    position: absolute;
    display: none;
    z-index: 3;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    font-weight: normal;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.5);
    max-width: 200px;
}

.div-table {
    padding: 15px;
    box-sizing: border-box;
}
.div-table .title {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    border-bottom: 1px solid #e3e7ea;
    padding: 0 10px;
}
.div-table .title h3 {
    color: #586078;
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 10px 0 0 0;
}
.div-table .title p {
    font-size: 10px;
}
.div-table .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.div-table .content .col-full {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
}
.div-table .content .col {
    bottom: 0;
    margin: 0 0px;
    flex-basis: 50%;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: space-between;
}
.div-table .content .col + .col {
    margin-left: 10px;
}
.div-table .content .section {
    width: 100%;
    margin: 5px 0;
    align-self: flex-start;
}
.div-table .content .section.total {
    border-top: 1px solid #e3e7ea;
    font-weight: 600;
    align-self: flex-end;
    padding: 10px 0 0 0;
}
.div-table .content .section + .section {
    border-top: 1px solid #e3e7ea;
}
.div-table .content .section div {
    line-height: 1.5em;
    box-sizing: border-box;
    border-radius: 3px;
}
.div-table .content .section .header {
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
}
.div-table .content .section .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.div-table .content .section .name-head {
    float: left;
}

.div-table .content .section .name {
    float: left;
    padding-left: 30px;
}
.div-table .content .section .value {
    float: right;
    color: #afb0b5;
}

.positive {
    color: #a5d3a2 !important;
}

.negative {
    color: #f28973 !important;
}

/*CSS CNTINUATION*/

